*~
.gradle
/build
/out
/*.iml
/*.ipr
/*.iws
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
.idea_modules
*.sublime-*
.nb-gradle
